{% extends "community.html" %}
{% block content %}
<!-- 감정분석 페이지 -->
    <!-- Navbar Right Side -->
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="">{{ current_user.name }}</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
        <div class="col-md-12">
            <div class="content-section">
                <form action="{{ url_for('predict')}}" method="POST">
                    <p>Enter Your Comment Here (Only Korean)</p>
                    <!-- <input type="text" name="comment"/> -->
                    <div class="form-control-label">
                        <textarea class="col-md-12" style="resize:none" name="comment" rows="7"></textarea>
                    </div>
                    <br/>
                    <input type="submit" class="btn-info" value="predict">
                </form>
            </div>
        </div>
    </main>

{% endblock content %}